@using Microsoft.AspNetCore.Identity
@using OnlineStore.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (!User.IsInRole("Admin"))
{
    <li class="nav-item position-relative cart-nav">
        <a class="nav-link d-flex align-items-center gap-2 text-dark fw-semibold" href="/Cart/Index">
            <div class="cart-icon-wrapper position-relative">
                <i class="bi bi-bag-fill cart-icon"></i>
                <span class="cart-count-inside" id="cart-count">0</span>
            </div>
            <span class="d-none d-md-inline"></span>
        </a>
    </li>
}
