@using Microsoft.AspNetCore.Identity
@using OnlineStore.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	bool isSignedIn = (SignInManager.IsSignedIn(User) && User.IsInRole("User"));
	string cartTitle = isSignedIn ? "View your cart" : "Sign in to access your cart";
}

@if (!User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-dark d-flex align-items-center gap-1 @(isSignedIn ? "" : "disabled")"
           asp-area=""
           asp-controller="Cart"
           asp-action="Index"
           title="@cartTitle">
            <i class="bi bi-cart-fill"></i>
            Cart
        </a>
    </li>
}
