@{
	ViewData["Title"] = "UnauthorizedError";
}

@section Styles {
	<link rel="stylesheet" href="~/css/errors.css"/>
}

<div class="error-view">
	<h1 class="error-code">401</h1>
	<p class="error-message">Unauthorized Access</p>
	<p class="error-description">You do not have the required permissions to view this page.</p>
	<a href="/" class="error-button">Return Home</a>
</div>
