<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Product Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/adminLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    
</head>
<body>
    <div class="sidebar">
        <h5 class="text-center">Product Panel</h5>
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="ProductIndex"><i class="bi bi-speedometer2"></i> Dashboard</a>
        <a asp-area="Admin" asp-controller="Product" asp-action="All"><i class="bi bi-box"></i> See All Products</a>
        <a asp-area="Admin" asp-controller="Product" asp-action="Add"><i class="bi bi-plus-square"></i> Add Product</a>
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-plus-square"></i> Return to home page</a>
        <form asp-area="Identity" asp-page="/Account/Logout" method="post">
            <button type="submit" class="btn btn-link text-white w-100 text-start ps-4">Logout</button>
        </form>
    </div>
    <div class="content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
